 body {
     background: #fafaf9;

 }
/*NAVBAR*/
#head-nav .navigation{background:#fff;z-index:50;width:70%;margin:0 auto;position:fixed;left:15%;-webkit-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);-moz-box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);box-shadow:0px 2px 2px 0px rgba(0,0,0,0.3);-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear;-webkit-transform:translateY(30px);-moz-transform:translateY(30px);-o-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
@media (max-width:767px){
    #head-nav .navigation{-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);left:0;width:100%}
}
#head-nav .navigation.shrink-header{top:0;position:fixed;width:100%;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-o-transform:translateY(0px);-ms-transform:translateY(0px);transform:translateY(0px);left:0;z-index:100}
#head-nav .navigation .logo-top{display:inline-block;padding:15px 25px}
#head-nav .navigation .logo-top img{width:152px}
#head-nav .navigation .mobile-menu-button{display:none}
@media (max-width:767px){
    #head-nav .navigation .mobile-menu-button{display:inline-block;width:20px;height:36px;right:20px;top:27px;position:absolute}
    #head-nav .navigation .mobile-menu-button span{width:100%;height:3px;margin-bottom:4px;background:#393736;display:block}
}
#head-nav .navigation ul{display:inline-block;float:right;margin-bottom:0}
#head-nav .navigation ul.mobile{display:none;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
@media (max-width:767px){
    #head-nav .navigation ul.mobile.open-menu{display:block;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
}
@media (max-width:767px){
    #head-nav .navigation ul.desktop{display:none}
}
@media (max-width:767px){
    #head-nav .navigation ul{float:none;padding:0}
}
#head-nav .navigation ul li{display:inline-block;position:relative;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
@media (max-width:767px){
    #head-nav .navigation ul li{display:block}
}
#head-nav .navigation ul li.dropdown:hover{background:#e3e2e2}
#head-nav .navigation ul li.dropdown:hover ul{opacity:1;visibility:visible}
#head-nav .navigation ul li a{font-family:"Rajdhani",sans-serif;font-weight:600;color:#393736;text-decoration:none;font-size:17px;padding:19px 20px 19px 20px;display:block;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
@media (max-width:767px){
    #head-nav .navigation ul li a{padding:5px 20px 5px 29px}
}
#head-nav .navigation ul li a:hover{background:#e3e2e2;text-decoration:none;color:#f37429}
#head-nav .navigation ul li a:focus{text-decoration:none}
#head-nav .navigation ul li a:active{text-decoration:none}
#head-nav .navigation ul li a.daftar{background:#f37429;padding:19px 30px 19px 30px;color:#fff;font-weight:bold;margin-left:-4px}
#head-nav .navigation ul li ul{position:absolute;top:62px;left:0;width:280px;background:#e3e2e2;padding-left:15px;padding-top:10px;padding-bottom:10px;padding-right:15px;-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out;opacity:0;visibility:hidden}
#head-nav .navigation ul li ul li{padding:7px 0px;border-bottom:1px solid #f7f6f6;width:100%}
#head-nav .navigation ul li ul li:last-child{border-bottom:none;padding:7px 0 0 0}
#head-nav .navigation ul li ul li a{width:100%;padding:0;font-family:"Rajdhani",sans-serif;font-size:15px}
 
/*LIST BLOG*/

#list-blog,
#detail-blog,
#list-category {
    margin-top: 63px;
}


/*CONTENT LIST*/

.content-list {
    padding: 30px 0;
    border-bottom: 1px solid #d8d8d7;
    position: relative;
}

.content-list .col-xs-3 {
    padding-right: 0;
}

.content-list .date-time {
    font-size: 14px;
    font-family: "Noticia Text", serif;
    padding: 2px 25px;
    background: #ffd52c;
    display: inline-block;
}

.content-list .category-caption {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #f37429;
    margin: 0;
    float: right;
    display: inline-block;
    text-transform: uppercase;
}

.content-list p {
    color: #565352;
    font-size: 16px;
    font-family: "Noticia Text", serif;
    line-height: 25px;
    margin: 10px 0 25px;
}

.blog-writter {
    position: absolute;
    right: 15px;
    bottom: 30px;
}

.blog-writter p {
    font-family: "Rajdhani", sans-serif;
    color: #8e8787;
    line-height: 20px;
    font-size: 16px;
    margin: 0;
}

.content-list p a {
    color: #f37429;
    display: inline-block;
    padding-left: 5px;
}

.content-list h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
}

.content-list a {
    color: #29221f;
}


/*PAGINATION*/

.pagination {
    margin: 30px 0;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #29221F;
    background-color: #FFD52C;
    border-color: #FFD52C;
}

.pagination>li>a,
.pagination>li>span {
    font-family: "Noticia Text", serif;
    font-size: 16px;
    border: 1px solid #d8d8d7;
    color: #29221F;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #29221F;
    background-color: #d3d3d2;
    border-color: #d3d3d2;
}


/*SIDEBAR*/

.sidebar-widget {
    padding: 30px 15px;
    background: #efefed;
}

.related-empty {
    padding: 10px;
    text-align: center;
}


/*Category List*/

.category-list h3 {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background: #ffd52c;
    color: #342f2d;
}

.category-list ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.category-list li {
    padding: 6px 0;
    text-align: center;
}

.category-list li.active a {
    color: #f37429;
    cursor: default;
    text-decoration: none;
}

.category-list li a {
    color: #565352;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}


/*SEARCH*/

.form-search {
    position: relative;
    padding: 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.form-group .form-control {
    border-radius: 0;
    border: 1px solid #7e7e7e;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-search button {
    position: absolute;
    top: 18px;
    right: 18px;
    border-radius: 0;
    padding: 4px 10px;
    background: #ffd52c;
    color: #342f2d;
    border: none;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.form-search button:hover,
.form-search button:focus,
.form-search button:active:hover,
.form-search button:active:focus {
    background-color: #2c2826;
    color: #ffffff;
    outline: none;
}

.form-group {
    margin-bottom: 0;
}

.form-control {
    color: #342f2d;
}

.form-control::-webkit-input-placeholder {
    color: #342f2d;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #342f2d;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #342f2d;
}

.form-control:-ms-input-placeholder {
    color: #342f2d;
}


/*CATEGORY TAB*/

.category-tab {
    padding-top: 20px;
}

.category-tab li {
    padding: 0;
}

.category-tab li a {
    border: none;
    border-radius: 0;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    color: #342f2d;
    text-align: center;
    margin-right: 1px;
    font-size: 18px;
    background: #d3d3d2;
}

.nav-tabs {
    border: none;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #ffd52c;
}

.category-tab .nav-tabs>li.active>a,
.category-tab .nav-tabs>li.active>a:focus,
.category-tab .nav-tabs>li.active>a:hover {
    border: none;
    background: #ffd52c;
    color: #342f2d;
}


/*WIDGET BLOG*/

.widget-blog {
    padding: 20px 0;
    border-bottom: 1px solid #d8d8d7;
}

.widget-blog:last-child {
    border: none;
    padding-bottom: 5px;
}

.widget-blog .col-xs-5 {
    padding-right: 0;
}

.widget-blog .col-xs-5 img {
    width: 100%
}



.widget-blog h4 a {
    font-weight: bold;
    font-family: "Rajdhani", sans-serif;
    color: #29221f;
    font-size: 16px;
}

.penulis-artikel {
    position: relative;
}

.penulis-artikel p {
    margin-bottom: 0;
    color: #565352;
    font-family: "Noticia Text", serif;
    text-align: right;
    font-size: 12px;
}

.penulis-artikel span {
    color: #565352;
    font-family: "Noticia Text", serif;
    font-size: 12px;
}

.widget-blog .date-time {
    font-size: 10px;
    font-family: "Noticia Text", serif;
    padding: 2px 12px;
    background: #ffd52c;
    display: inline-block;
}


/*detail blog*/

.detail-blog {
    padding: 30px 0;
    float: left;
}

.detail-blog .blog-heading {
    color: #463a34;
    font-size: 60px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    margin: 0;
}

.detail-blog .date-time {
    font-family: "Rajdhani", sans-serif;
    color: #8e8787;
    line-height: 20px;
    font-size: 18px;
    margin: 0;
}

.detail-blog .category-caption {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #f37429;
    margin: 0;
    text-align: right;
    margin-top: -23px;
    text-transform: uppercase;
}

.detail-blog-text {
    float: left;
}

.detail-blog-text .small-tagline {
    color: #f37429;
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.image-detail-blog {
    padding-top: 20px;
}

.detail-blog .small-tagline {
    color: #f37429;
    font-size: 24px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.detail-blog .detail-blog-text {
    color: #565352;
    font-size: 16px;
    font-family: "Noticia Text", serif;
    line-height: 25px;
    margin-top: 20px;
}


/*PAGER*/

.detail-pager {
    float: left;
    width: 100%;
}

.detail-pager .pager li>a,
.detail-pager .pager li>span {
    border-radius: 0;
    font-family: "Noticia Text", serif;
    font-size: 16px;
    border: 1px solid #d8d8d7;
    color: #29221F;
    padding: 5px 20px;
}

.detail-pager .pager li>a:focus,
.detail-pager .pager li>a:hover {
    color: #29221F;
    background-color: #d3d3d2;
    /*    border-color: #d3d3d2;*/
}


/*disqus-comment*/

.disqus-comment {
    float: left;
}


/*BIO WRITTER*/

.bio-writter {
    background: #efefed;
    padding: 40px 0 30px 0;
}

.bio-writter .title h3 {
    color: #342f2d;
    font-size: 34px;
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    margin: 0;
    border-bottom: 1px solid #342f2d;
    padding-bottom: 20px;
}

.image-writter img {
    width: 90%;
}

.writter-info {
    margin: 35px 0;
}

.content-writter h3 {
    color: #f37429;
    font-size: 30px;
    font-family: "Noticia Text", serif;
    font-weight: bold;
    margin: 0 0 20px 0;
    line-height: 15px;
}

.content-writter p {
    color: #565352;
    font-family: "Noticia Text", serif;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 20px;
}

.sosmed-writter {
    padding: 0;
    list-style: none;
}

.sosmed-writter li {
    display: inline-block;
    margin-right: 5px;
}

.sosmed-writter a {
    width: 36px;
    height: 36px;
    display: block;
}

.sosmed-writter a.fb {
    background: url("../images/sosmed.png") no-repeat 0 0;
}

.sosmed-writter a.tw {
    background: url("../images/sosmed.png") no-repeat -40px 0;
}

@media (max-width:1200px) {
    /*Content list*/
    .content-list h3 {
        font-size: 20px;
        margin-top: 10px;
    }
    .content-list .category-caption {
        font-size: 16px;
    }
    .content-list p {
        font-size: 14px;
        line-height: 19px;
    }
    /*Pagination*/
    .pagination>li>a,
    .pagination>li>span {
        font-size: 14px;
    }
    /*Category List*/
    .category-list h3 {
        font-size: 20px;
    }
    .category-list li a {
        font-size: 16px;
    }
    /*CATEGORY TAB*/
    .category-tab li a {
        font-size: 16px;
        line-height: 19px;
    }
    .widget-blog h4 a {
        font-size: 12px;
    }
    /*DETAIL BLOG*/
    .detail-blog .blog-heading {
        font-size: 48px;
    }
    .detail-blog .date-time {
        font-size: 16px;
    }
    .detail-blog .category-caption {
        font-size: 20px;
    }
}

@media (max-width:991px) {
    /* header*/
    #head-nav .navigation ul {
        padding: 0;
    }
    #head-nav .navigation ul li a {
        padding: 19px 10px 19px 10px;
    }
    /*Category List*/
    .category-list h3,
    .content-list h3 {
        font-size: 18px;
    }
    .category-list li a {
        font-size: 14px;
    }
    .category-list li {
        padding: 3px 0;
    }
    /*search*/
    .form-search {
        padding: 10px;
    }
    .form-search button {
        top: 13px;
        right: 13px;
    }
    /*Widged blog*/
    .widget-blog .col-xs-5 {
        width: 100%;
        padding-right: 15px;
    }
    .widget-blog .col-xs-7 {
        width: 100%;
    }
    .widget-blog .date-time {
        display: block;
        text-align: center;
    }
    /*DETAIL BLOG*/
    .detail-blog .blog-heading {
        font-size: 38px;
    }
    .detail-blog .category-caption {
        margin-top: 0;
        text-align: left;
    }
    .detail-blog .small-tagline {
        font-size: 22px;
        margin-top: 0;
        line-height: 26px;
    }
    /*BIO WRITTER*/
    .writter-info .col-lg-3 {
        width: 35%;
        float: left;
    }
    .writter-info .col-lg-9 {
        width: 65%;
        float: left;
    }
    .image-writter img {
        width: 100%;
    }
    .content-writter h3 {
        font-size: 25px;
        margin: 0 0 5px 0;
        line-height: 28px;
    }
    .content-writter p {
        line-height: 24px
    }
}

@media (max-width:767px) {
    /*List Blog*/
    #list-blog nav {
        text-align: center;
    }
    #list-blog .col-sm-9 {
        padding: 0;
    }
    /*Content list*/
    .content-list p {
        margin: 10px 0 15px;
    }
    .content-list h3 {
        margin-top: 20px;
    }
    /*pagination*/
    .pagination {
        margin: 15px 0;
    }
    /*Widged blog*/
    .widget-blog .col-xs-5,
    .content-list .col-xs-3 {
        width: 33.33333333%;
        padding-right: 0;
    }
    .widget-blog .col-xs-7,
    .content-list .col-xs-9 {
        width: 66.66666667%;
    }
    .widget-blog .date-time {
        display: inline-block;
        text-align: center;
    }
    .widget-blog h4 a {
        font-size: 18px;
    }
    .blog-writter {
        display: inline-block;
        position: relative;
        float: right;
        right: 15px;
        bottom: 0;
    }
    .sidebar-widget {
        float: left;
    }
}

@media (max-width:480px) {
    /*Widged blog*/
    .widget-blog .col-xs-5 {
        width: 41.66666667%;
        padding-right: 0;
    }
    .widget-blog .col-xs-7 {
        width: 58.33333333%;
    }
    .widget-blog h4 a {
        font-size: 14px;
    }
    .content-list .col-xs-3 {
        width: 100%;
        padding-right: 15px;
    }
    .content-list .col-xs-9 {
        width: 100%;
        padding-top: 10px;
    }
    .content-list p {
        margin: 10px 0 0;
    }
    .content-list {
        padding: 30px 0 15px;
    }
    .blog-writter {
        display: block;
        position: relative;
        float: right;
        right: 0;
        width: 100%;
        bottom: 0;
        padding: 0 15px;
    }
    /* DETAIL BLOG*/
    .detail-blog .blog-heading {
        font-size: 26px;
    }
    .detail-blog .date-time {
        font-size: 14px;
    }
    .image-detail-blog {
        padding-top: 10px;
    }
    .detail-blog .small-tagline {
        font-size: 18px;
        line-height: 20px;
    }
    .detail-blog .detail-blog-text {
        line-height: 20px;
        font-size: 14px;
    }
    .detail-pager .pager li>a,
    .detail-pager .pager li>span {
        font-size: 14px;
        padding: 5px 10px;
    }
    /*BLOG WRITTER*/
    .writter-info .col-lg-3,
    .writter-info .col-lg-9 {
        width: 100%;
        float: left;
    }
    .content-writter h3 {
        font-size: 22px;
        margin: 10px 0 5px 0;
    }
    .content-writter p {
        font-size: 14px;
    }
}




/*FOOTER*/
#framework-footer{background:#2c2826;padding:25px 0}
#framework-footer .logo-bottom{border-right:1px solid #fff;padding:10px 30px 10px 10px}
#framework-footer .logo-bottom img{width:100%}
@media (max-width:767px){
    #framework-footer .logo-bottom img{width:60%}
}
#framework-footer .interest{float:left;width:100%;position:relative;top:20px}
#framework-footer .interest p{color:#ffda39;font-size:20px;font-family:"Rajdhani",sans-serif;font-weight:600;float:left;font-size:18px}
@media (max-width:767px){
    #framework-footer .interest p{font-size:14px;margin-bottom:20px}
}
#framework-footer .interest .white-daftar{display:inline-block;float:right;background:#f37429;padding:8px 30px;color:#fff;text-decoration:none;font-size:20px;font-family:"Rajdhani",sans-serif;font-weight:bold;margin-top:-9px;margin-right:5px;font-size:18px;-webkit-transition:all 0.2s linear;-moz-transition:all 0.2s linear;-o-transition:all 0.2s linear;-ms-transition:all 0.2s linear;transition:all 0.2s linear}
#framework-footer .interest .white-daftar:hover{color:#2c2826;background:#ffda39}
@media (max-width:767px){
    #framework-footer .interest .white-daftar{font-size:14px;padding:8px 20px;float:left;margin-bottom:20px}
}
#framework-footer .interest .white-daftar:active{outline:none;border:none}
#framework-footer .interest .white-daftar:focus{outline:none;border:none}
#framework-footer .bottom-menu{margin:20px 0}
#framework-footer .bottom-menu ul{border-bottom:1px solid #fff;margin:0;padding:0 0 20px 0}
#framework-footer .bottom-menu ul li{display:inline-block;list-style:none;margin:0 32px 0 33px}
@media (max-width:767px){
    #framework-footer .bottom-menu ul li{display:block;margin:10px 0}
}
#framework-footer .bottom-menu ul li:first-child{margin-left:0}
#framework-footer .bottom-menu ul li:last-child{margin-right:0}
#framework-footer .bottom-menu ul li a{font-family:"Rajdhani",sans-serif;font-weight:600;color:#fff;display:block;font-size:14px;text-transform:uppercase}
@media (max-width:767px){
    #framework-footer .footer-bottom{text-align:center}
}
@media (max-width:767px){
    #framework-footer .footer-bottom .company-of{text-align:center}
}
#framework-footer .footer-bottom .copyright{font-family:"Rajdhani",sans-serif;font-weight:600;color:#ffffff;float:right;font-size:18px;position:relative;top:10px}
@media (max-width:767px){
    #framework-footer .footer-bottom .copyright{float:none;font-size:13px}
}